
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@*<body>
    <div>
        @foreach (string text in ViewBag.Data)
        {
            <h4>text</h4>
        }
    </div>
</body>*@
